data-migrator:
  model-base-package: @jpa.domain.package@
  sequence:
  #    - rows-minimize-1
  #    - column-anonymize-1
  #    - column-anonymize-2
  #    - anonymizer-custom-1
  sequencers:
  #    - name: rows-minimize-1
  #      type: bean
  #      transformer-class: net.osgiliath.migrator.modules.rowlimiter.RowLimiter
  #      sequencer-options:
  #        - rows-to-keep: 10
  # Included   - name: column-anonymize-1
  #      type: factory
  #      transformer-class: net.osgiliath.migrator.modules.faker.ColumnFaker
  #      entity-class: Employee
  #      column-transformation-definitions:
  #        - column-name: firstName
  #          options:
  #            - faker: dragon_ball.characters # https://www.datafaker.net/documentation/getting-started/ for options, will default to a dragonball character if not set
  #    - name: anonymizer-custom-1 # Cutsom bean
  #      type: bean
  #      transformer-class: net.osgiliath.migrator.sample.transformers.CountryTransformer
  #      entity-class: Country
  graph-datasource:
    type: embedded
    #    type: remote
    #    port: 8182
    #    host: 127.0.0.1
  ensure-non-null-primary-key: false # setting to true will decrease performance
spring:
  #  threads:
  #    virtual:
  #      enabled: true
  main:
    lazy-initialization: true
  jpa:
    source:
      properties:
        hibernate:
          enable_lazy_load_no_trans: true
          dialect: @source.jdbc.dialect@
          #        cache:
          #          use_second_level_cache: true
          #          use_query_cache: false
          #          region.factory_class: jcache
          generate_statistics: false
          # modify batch size as necessary
          jdbc:
            fetch_size: 100 # TODO, modify if needed recommended value for Oracle
            time_zone: UTC
          criteria.literal_handling_mode: BIND
          query:
            fail_on_pagination_over_collection_fetch: true
            in_clause_parameter_padding: true
    sink:
      properties:
        hibernate:
          # enable_lazy_load_no_trans: true
          dialect: @target.jdbc.dialect@
          id.new_generator_mappings: true
          #        cache:
          #          use_second_level_cache: true
          #          use_query_cache: false
          #          region.factory_class: jcache
          generate_statistics: false
          # modify batch size as necessary
          jdbc:
            batch_size: 30 # tweak it to improve the perf, also configures the graph injection size (cannot be more than 3000-4000)
            # Mysql 500
            # A large batch of inserts can create a very large SQL statement. Make sure the max_allowed_packet variable in your MySQL server configuration is large enough to handle the batches. If you see
            #  errors related to packet size, you will need to increase this value in your MySQL server's my.cnf or my.ini file.
            # Oracle 50
            time_zone: UTC
          order_inserts: true
          order_updates: true
          # modify fetch size as necessary
          connection:
            provider_disables_autocommit: true
            autocommit: false
          hbm2ddl:
            auto: update
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    # show-sql: true
  datasource:
    source:
      type: com.zaxxer.hikari.HikariDataSource
      url: @source.database.url@
      username: @source.datasource.username@
      password: @source.datasource.password@
      hikari:
        poolName: HikariCPSource
        auto-commit: false
        connection-test-query: "SELECT 1" # deactivate for database with ping
        leak-detection-threshold: 60000
    sink:
      type: com.zaxxer.hikari.HikariDataSource
      url: @target.database.url@
      username: @target.datasource.username@
      password: @target.datasource.password@
      hikari:
        poolName: HikariCPSink
        auto-commit: false
        connection-test-query: "SELECT 1" # deactivate for database with ping
        leak-detection-threshold: 60000
  liquibase:
    enabled: false
