#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<Configuration status="info">
    <Appenders>
        <File name="FILE" fileName="target/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--<Logger name="org.hibernate.SQL" level="DEBUG">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE">
            <AppenderRef ref="FILE"/>
        </Logger> -->
        <Logger name="${package}" level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
