<Configuration status="info">
    <Appenders>
        <RandomAccessFile name="RandomAccessFile" fileName="target/exec.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Async name="Async">
            <AppenderRef ref="RandomAccessFile"/>
        </Async>
        <!--<File name="FILE" fileName="target/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>-->
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <!-- <Logger name="org.hibernate.type.descriptor.sql" level="TRACE">
             <AppenderRef ref="FILE"/>
         </Logger>
         -->
        <Logger name="net.osgiliath" level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <!--<Logger name="org.hibernate.type.descriptor.sql" level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </Logger> -->
        <!--<Root level="trace">
            <AppenderRef ref="CONSOLE"/>
        </Root>-->
    </Loggers>
</Configuration>
